<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Banka_Otomasyon1._1.Properties.Settings.Banka_OtomasyonConnectionString"
            connectionString="Data Source=DESKTOP-I790538;Initial Catalog=Banka_Otomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Banka_Otomasyon1._1.Properties.Settings.Personel_Veri_TabaniConnectionString"
            connectionString="Data Source=DESKTOP-I790538;Initial Catalog=Personel_Veri_Tabani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>